<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProfilePage View</title>
    <link rel="stylesheet" href="../../../master.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="../extrastyles.css" />
    <link rel="stylesheet" href="../../../muliSelectStyles.css" />
  </head>
  <body>
    <div class="pf-page-contianer">
      <div class="banner">
        <div class="nav">
          <div id="backBtnPfPage">
            <img src="../../../assets/pfp/ico-back.svg" alt="" />
          </div>
          <div id="editBtn" class="edit-btn"></div>
        </div>
        <div id="bannerText" class="user-info-brief">
          <div>RollsRoyce69</div>
          <div>rolls.royce@69.com</div>
        </div>
        <div id="pf-pic-container" class="left-positioned">
          <div class="inner">
            <img
              src="../../../assets/pfp/img-avatar.svg"
              alt=""
              class="avatar"
            />
          </div>
          <div id="completionPctg" class="progress-val">100%</div>
        </div>
      </div>
      <div class="user-info-view">
        <div class="info-card">
          <img
            src="../../../assets/pfp/ico-username.svg"
            alt=""
            class="info-icon"
          />
          <div>
            <div class="info-card-label">Username</div>
            <div>
              <div class="info-card-value">RollsRoyce69</div>
            </div>
          </div>
        </div>
        <div class="info-card">
          <img
            src="../../../assets/pfp/ico-name.svg"
            alt=""
            class="info-icon"
          />
          <div>
            <div class="info-card-label">Name</div>
            <div class="info-card-value">Sayan Das</div>
          </div>
        </div>
        <div class="info-card">
          <img
            src="../../../assets/pfp/ico-email.svg"
            alt=""
            class="info-icon"
          />
          <div>
            <div class="info-card-label">E-mail</div>
            <div class="info-card-value">rolls.royce@69.com</div>
          </div>
        </div>
        <div class="info-card">
          <img
            src="../../../assets/pfp/ico-address.svg"
            alt=""
            class="info-icon"
          />
          <div>
            <div class="info-card-label">Address</div>
            <div class="info-card-value">Dummy</div>
          </div>
        </div>
        <div class="info-card">
          <img
            src="../../../assets/pfp/ico-roll.svg"
            alt=""
            class="info-icon"
          />
          <div>
            <div class="info-card-label">College Roll Number</div>
            <div class="info-card-value">Dummy</div>
          </div>
        </div>
        <div class="info-card">
          <img
            src="../../../assets/pfp/ico-course.svg"
            alt=""
            class="info-icon"
          />
          <div>
            <div class="info-card-label">Courses</div>
            <div class="info-card-value">Dummy</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
