.field input:valid~label,
.field input:focus~label {
    color: var(--c-accent-light-blue);
}

.field input:focus {
    outline-color: var(--c-accent-light-blue)
}

.form-outer .form .page .btns button {
    background-color: var(--c-accent-light-blue);
    margin-top: 20px;
}

.form-outer .form .page .field{
    margin: 10px 0;
}

.page .login-signup-txt{
    margin-top: 5px;
}

a{
    text-decoration: none;
    color: var(--c-accent-light-blue);
    font-weight: 600;
}

#forgot{
    font-size: 0.75rem !important;
}

#loginBtn{
    width: 60% !important;
    padding: 10px 0;
}