body{
    background: url(../../assets/splash/bg.svg);
    display: block;
    padding-bottom: 80px;
}

/* navbar styles */
.navbar-container{
    background-color: var(--c-navbar-bg);
    width: 100vw;
    height: 80px;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 16px;
}

.nav-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.nav-icon{
    padding-top: 4px;
    height: 24px;
}

.nav-button.active::before{
    content: "";
    background-color: var(--c-navbar-icon-active-indicator);
    height: 32px;
    width: 64px;
    position: absolute;
    z-index: -1;
    border-radius: 50rem;
}

.nav-label{
    padding-top: 4px;
    font-size: 0.8rem;
    color: var(--c-navbar-icon-active);
}

.navbar-container{
    border-radius: 20px 20px 0 0;
    background-color: #B0DDFF;
}
.nav-button.active::before{
    background-color: #DAF2FF;
}

/* top styles */
.homepage-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.top{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location{
    display: flex;
    align-items: center;
    width: 150px;
    font-size: 0.9rem;
    color: var(--c-navbar-icon-active);
}

.location>img{
    width: 25px;
    padding-right: 5px;
}

.location>div{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.top .profile>img{
    background-color: var(--c-pfp-avatar-bg);
    width: 48px;
    border-radius: 50%;
    /* border: 1px solid var(--black); */
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*mid styles */
.mid{
    width: 100%;
    padding: 0 20px;
}

.mid .greetings{
    font-size: 1.25rem;
}

.mid .greetings #name{
    font-size: 2rem;
    font-weight: 600;
}

.mid .time-card{
    display: flex;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 12px;
    padding: 5px;
    width: min(95%, 600px);
    margin: 20px auto;
    background-color: var(--time-card-bg);
}

.mid .time-card > img:first-child{
    margin-left: 10px;
    width: 24px;
}

.mid .time-card > img:last-child{
    margin-left: auto !important;
    margin-right: 10px;
}

.mid .time-card > div{
    font-size: 1.05rem;
    margin-left: 10px;
    color: var(--c-navbar-icon-active);
}

.mid .time-card > div > div:first-child{
    font-size: 1.15rem;
    font-weight: 600;
    padding-bottom: 5px;
    color: var(--black);
}

/*bottom styles */
.bottom{
    padding: 0 25px;
}

.bottom > div:first-child{
    font-weight: 600;
}

.class-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px auto;
}

.class-card-content{
    border-radius: 12px;
    border: 1px solid var(--black);
    padding: 20px 15px;
    width: 3000px;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (min-width: 481px) and (max-width: 768px) {
    .bottom{
        padding: 0 50px;
    }
    
    .class-card-content{
        width: 500px;
    }
    
}

@media (min-width: 768px) {
    .bottom{
        padding: 0 50px;
    }

    .class-card-content{
        width: 750px;
    }
}

.class-card.ongoing{
    scale: 1.05;
}
.class-card.ongoing img{
    scale: 1.05;
}

.class-card.over .class-card-content{
    background-color: var(--c-class-over);
}
.class-card.ongoing .class-card-content{
    background-color: var(--c-class-ongoing);
}
.class-card.upcoming .class-card-content{
    background-color: var(--c-class-upcoming);
}


#courseCode{
    font-weight: 600;
}

#teacherName{
    font-size: 0.95rem;
    padding-top: 4px;
}