body{
    background: url(../../assets/splash/bg.svg);
    display: block;
}

/* navbar styles */
.navbar-container{
    background-color: var(--c-navbar-bg);
    width: 100vw;
    height: 80px;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 16px;
}

.nav-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.nav-icon{
    padding-top: 4px;
    height: 24px;
}

.nav-button.active::before{
    content: "";
    background-color: var(--c-navbar-icon-active-indicator);
    height: 32px;
    width: 64px;
    position: absolute;
    z-index: -1;
    border-radius: 50rem;
}

.nav-label{
    padding-top: 4px;
    font-size: 0.8rem;
    color: var(--c-navbar-icon-active);
}

/* top styles */
.homepage-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.top{
    width: 100%;
    padding: 20px;
}

.top .profile>img{
    background-color: var(--c-pfp-avatar-bg);
    width: 48px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*mid styles */
.mid{
    width: 100%;
    padding: 0 20px;
}

.mid .greetings{
    font-size: 1.25rem;
}

.mid .greetings #name{
    font-size: 2rem;
    font-weight: 600;
}

.mid .cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 
}